<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<br/>
<form th:action="@{/registerUser}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Roles: <select name="roles" multiple>
        <option value="ADMIN">ADMIN</option>
        <option value="CUSTOMER">CUSTOMER</option>
        <option value="CLERK">CLERK</option>
    </select></label></div>
    <div><input type="submit" value="Register User"/></div>
</form>
</body>
</html>